*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;


}

body {
  font-size: 14px;
  padding: 50px;

  background: #E91E63;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E91E63, #EAECC6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E91E63, #EAECC6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a { color: #00B7FF; }

h1 {
  color: #ffffff;
  font-family: helvetica;
  text-align: center;
}

.navbar {
  color: black;
}
