*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;


}

body {
  font-size: 14px;
  padding: 50px;
  padding-top: 100px;

  background-color: #AEC6CF;

  /*background: #64b3f4;*/
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #64b3f4, #E5E5BE);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #64b3f4, #E5E5BE);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /*background: #F1F2B5;*/
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #F1F2B5, #135058);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #F1F2B5, #135058);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a { color: #00B7FF; }

h1 {
  color: #ffffff;
  font-family: helvetica;
  text-align: center;
}

.navbar-default {
  background-color:#50404D;
  color:#ffffff;
  border-radius:0;
}

.btn-custom:hover {
  color: #DEA5A4;
}

.btn-custom {
  color: #ffffff;
}


.btn-custom1 {
  color: #ffffff;
}

.btn-custom1:hover {
  color: #DEA5A4;
}


.btn-customMap:hover {
  color: #DEA5A4;
}

.btn-customMap {
  color: #ffffff;
  padding-right: 100px;
}

/* Style The Dropdown Button */
/*.dropbtn {*/
  /*  background-color: #4CAF50;*/
/*    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/
