<h1>Add Your Information Here</h1>
<hr>
<br>

<!-- <div>
    <select name="" required ng-model="vm.user.gender" required>
      <option value=""></option>
      <option ng-repeat="gender in ['M','F']" value="{{gender}}">{{gender}}</option>
    </select>
</div>
      {{vm.user.gender}} -->









<section>
<div class="row">
  <form name="form" id="new-refugee" class="form-inline">
    <div class="row">

      <div class="form-group">
        <input  id="first_name" type="text" class="validate" ng-model="vm.newRefugee.firstName">
        <label for="first_name">First Name</label>
      </div>
      <div class="form-group">
        <input id="last_name" type="text" class="validate" ng-model="vm.newRefugee.lastName">
        <label for="last_name">Last Name</label>
      </div>
      <div class="form-group">
        <input id="middle_name" type="text" class="validate" ng-model="vm.newRefugee.middleName">
        <label for="middle_name">Middle</label>
      </div>
      <br>
      <div class="form-group">
        <input id="date_of_birth" type="text" class="validate" ng-model="vm.newRefugee.dob">
        <label for="date_of_birth">Date Of Birth</label>
      </div>


<br>


    <div>
      <form name="myForm">
        <label for="mySelect">Gender</label>
        <select ng-model="selectedItem" ng-options="selectedItem as selectedItem.name for selectedItem in values"></select>
            selectedItem: {{selectedItem.name}}
      </form>
    </div>




<!-- <div ng-controller="RefugeesController">
  <form name="myForm">
    <label for="mySelect">Gender</label>
    <select name="mySelect" id="mySelect"
      ng-options="option.name for option in data.availableOptions track by option.id"
      ng-model="vm.newRefugee.gender"></select>
  </form>
</div> -->



<!--       <div ng-controller="GenderController">
        <form name="myForm">
          <label for="repeatSelect"> Repeat select: </label>
          <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
            <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
          </select>
        </form>
        <hr>
        <tt>repeatSelect = {{data.repeatSelect}}</tt><br/>
      </div> -->




    </div>
    <button  class="btn btn-default" type="submit" ng-click="vm.postRefugee()">Save</button>
  </form>
</div>


</section>
