<h1>Add Your Informration Here</h1>
<hr>
<br>


<section ng-controller="RefugeesController as vm"
<div class="row">
  <form id="new-refugee" class="form-inline">
    <div class="row">

      <div class="form-group">
        <input  id="first_name" type="text" class="validate" ng-model="vm.newRefugee.firstName">
        <label for="first_name">First Name</label>
      </div>
      <div class="form-group">
        <input id="last_name" type="text" class="validate" ng-model="vm.newRefugee.lastName">
        <label for="last_name">Last Name</label>
      </div>
      <div class="form-group">
        <input id="middle_name" type="text" class="validate">
        <label for="middle_name">Middle</label>
      </div>
      <br>
      <div class="form-group">
        <input id="date_of_birth" type="text" class="validate">
        <label for="date_of_birth">Date Of Birth</label>
      </div>
      <div class="dropdown">
        <label for="gender">Gender</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>Male</a>
          <a>Female</a>
        </div>
      </div>
      <div class="dropdown">
        <label for="Nationality">Nationality</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <label for="current_location">Current Location</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <div class="dropdown">
        <label for="past_location">Past Location/s</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <div class="dropdown">
        <label for="aid_station">Aid Station</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <label for="condition">Condition</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <div class="dropdown">
        <label for="marital_status">Marital Status</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>List</a>
        </div>
      </div>
      <div class="dropdown">
        <label for="children">Children</label>
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
          <a>0</a>
          <a>1</a>
          <a>2</a>
          <a>3</a>
          <a>4</a>
          <a>5</a>
        </div>
      </div>
    </div>
    <button class="btn btn-default" type="submnit" ng-click="vm.postRefugee()">Save</button>
  </form>
</div>

</section>
